# Data Engineering

In [28]:
#Import dependencies 
import pandas as pd

In [29]:
#Importing and reading the csv files
measurements_data = "resources/hawaii_measurements.csv"
stations_data = "resources/hawaii_stations.csv"
measurements = pd.read_csv(measurements_data)
stations = pd.read_csv(stations_data )

In [30]:
#Looking at the measurement file
measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [31]:
#Looking at the stations file
stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [32]:
#Inspecting the data for NaNs and missing values
pd.isnull(measurements).head()

   station   date   prcp   tobs
0    False  False  False  False
1    False  False  False  False
2    False  False  False  False
3    False  False  False  False
4    False  False   True  False

In [33]:
#Inspecting the data for NaNs and missing values
pd.isnull(stations).head()

   station   name  latitude  longitude  elevation
0    False  False     False      False      False
1    False  False     False      False      False
2    False  False     False      False      False
3    False  False     False      False      False
4    False  False     False      False      False

In [34]:
# Dropping NaNs 
measurements.fillna(value =0, inplace = True)

In [35]:
# Saving clean version of measurements 
measurements = measurements.to_csv("clean_measurements.csv")

In [36]:
# Saving clean version of stations
stations = stations.to_csv("clean_stations.csv")